/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2015, 9:50:36 PM
    Author     : Chris Repanich
*/
@font-face {
    font-family: 'Satellite'; 
    src: url('../../css/fonts/Satellite.otf'); 
}
body, html {
    font: 1em "Tahoma", sans-serif;
}

input {
    font: inherit;
}

input[type='submit']{
    border: 1px solid #bbb;
    background-color:#fff;
    padding: 5px 10px;
    vertical-align: bottom;
    border-radius: 8px;
    border-width: 2px;
}
#myClasses{
 width: 550px;   
}

input[type='text']{
    padding: 5px 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    width: 90%;
    border-width: 2px;
}

.tt-input:focus{
    outline: none;
}

.tt-dropdown-menu{
    background-color: white;
    width: 100%;
    border: 1px solid #bbb;
    text-align: left;
    margin-top: 10px;
    padding:0;
    border-radius: 8px;
    overflow: hidden;
    border-color: #ddd;
}

.classListing{
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: Satellite;
}

.readabilityLight{
    background-color: #fff;
}

.readabilityDark{
    background-color: #ddd;
}
.classListingHeader{
    font-size: 18px;
    font-family: Satellite;
    text-decoration: underline;
}

input.typeahead{
  z-index: 50;
}

.tt-suggestion{
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 5px 0;
}

.tt-hint {
    color: #bbb;
}

.tt-suggestion.tt-cursor{
    background-color: #ddd;
}

.underConstruction {
   color: firebrick;
}

.backButton {
   border: 1px solid #bbb;
   padding: 5px 10px;
   background-color:#fff;
   border-radius: 8px;
   border-width: 2px;
   color: black;
}

.backButton:hover{
   color: inherit;
   text-decoration: none;
}

.holdSearchContents {
   /*
      TO-DO : create border that contains all of the returned search results
        to try and give it slightly better readability
   */
}